---
export interface Props {
  title: string;
  body: string;
  href: string;
  icon: string;
}

const { href, title, body, icon } = Astro.props;
import Layout from "../layouts/PageLayout.astro";
import Card from "../components/CardData.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Home - Health Toolkit">
  <Hero />
  <Card>
    <a
      href={href}
      class="lock max-w-sm p-6 bg-gray-100 border border-gray-200 rounded-lg shadow-md hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
    >
      <div class="flex items-center mb-2">
        <h2
          class="text-xl font-bold text-gray-900 dark:text-white sm:text-left"
        >
          <span class="mr-2 text-2xl">{icon}</span>{title}
          <span>&rarr;</span>
        </h2>
      </div>
      <p
        class="text-base text-gray-700 dark:text-gray-400 text-md sm:text-left"
      >
        {body}
      </p>
    </a>
  </Card>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);

    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
